# Dependency directories
node_modules/

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/

# dotenv environment variables file
.env
.env.docker

# log files
logs/
*.log
npm-debug.log*